body{
    background: url(/ornate/graphics/main-backdrop.JPG);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
}

.a4{
    background-color: rgba(37, 37, 37, 0.548);
    backdrop-filter: blur(10px);
}

/* table import */

.pending-notice{
    font-size: .7rem;
    margin: auto;
    align-items: center;
    width: 50%;
}

.table{
    background: rgba(97, 97, 97, 0.378);
    /* backdrop-filter: blur(10px); */
    border-radius: 10px;

    display: flex;
    flex-direction: column;

}

.template-row{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.year{font-size:2.2rem;font-weight: bolder;letter-spacing: 2px;}
.month{font-size:1.8rem;font-weight: bold;letter-spacing: 2px;}

.date-b{
    animation: date-b 3.7s infinite;
}

.monthly-entries{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    padding-left: 300px;
}
.make-entries-inline{
    

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-bottom: 15px;
}

.poem-link{
    text-decoration: none;
    
    word-break: break-word;
    overflow: break-word;
}
.poem-link:hover{
    opacity: .5;
}

/* RESPONSIVE */

@media (max-width:600px){


/* table */
.monthly-entries{
    padding-left: 10px;
    
}
.make-entries-inline{
    flex-direction: column;
    justify-content: space-between;
}
.date{
    opacity: .5;
}
.date-b{
    opacity: .3;
}
.poem-link{
    font-size: 1.3rem;
}
}

/* import end */
