*{
    font-family: monospace;
    font-size: 1.1rem;
    color: white;


    transition: .4s ease;

    margin: 0;

    .break{
        border: 1px solid;
        margin: auto;

        margin-top: 20px ;
        margin-bottom: 20px;

        opacity: .2;
    }

    h3{ font-size: 1.4rem;}
    h2{ font-size: 1.8rem;}
}

.a4{
    width: 100%;
    height: auto;
    min-height: 300mm;
    box-sizing: border-box; /*fixes the L&B*/
    /* border-radius: 12px; */
    padding: 2rem;
    overflow: hidden;
}

/* navigation */
.main-navigation{
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    padding-top: 15px;
    padding-bottom: 15px;

    gap: 5px;
}
.main-navigation a{
    font-size: 1rem;
    text-decoration: none;

    border: 1px solid;
    border-color: rgba(189, 189, 189, 0.39);
    border-radius: 4px;

    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
.main-navigation-link{
    gap: 200px;
}
.main-navigation a:hover{
    transition: .2s ease;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.235);
}

/* site heading */
.site-heading{
    font-size: 3rem;
    animation: site-heading 10s infinite;

    margin-bottom: 10px;
}
@keyframes site-heading{
    0% {color: white;     
        text-shadow: 8px 5px 12px rgba(255, 255, 255, 0.978) ;}
    50% {color: white; 
        /* opacity:; */
        text-shadow: 10px 7px 9px rgba(255, 255, 255, 0.203) ;}
    100% {color: white;
        text-shadow: 8px 5px 12px rgba(255, 255, 255, 0.978) ;}
}


/* --------------------------------------------- */

    /* HORIZONTAL RESPONSIVE */

@media (max-width:1200px){

.a4{
    width: 100%;
    height: auto;
}

/* MAINPAGE */

.stream-album{
    justify-content: center;
    gap: 10px;
}
.bandcamp-embed{
    width: 300px;
}
.modern-yt-embed{
    background-size: 160%;

}
}

/* --------------------------------------------- */

    /* IPAD */

@media (max-width:900px){

.a4{
    height: auto;
}

/* MAINPAGE */

.stream-album{
    justify-content: center;
    gap: 10px;
}
.bandcamp-embed{
    width: 25vw;
}

.modern-yt-embed{
    width: 45vw;

    background-size: 280%;
}

.modern-yt-embed1-1{
    width: 30vw;
    height: 30vw;
}

.current-array{
    padding-top: 10px;

    display: flex;
    justify-content: left;

    overflow: auto;
    gap: 10px;
}

}
/* -------------------------------------------------- */

@media (max-width: 600px){
*{
    font-size: 1.1rem ;


    h3{ font-size: 1.4rem;}
    h2{ font-size: 1.7rem;}

    .break{
        margin-top: 1px ;
        margin-bottom: 10px;
    }
}
.a4{
    height: auto;
    padding: 10px;
}

.site-heading{
    font-size: 2.7rem ;
}
/* navigation */
.main-navigation{
    gap:10px;
}

/* MAINPAGE */

.stream-album{
    justify-content: center;
    gap: 10px;
}
.bandcamp-embed{
    width: 95vw;
}
.modern-yt-embed{
    width: 95vw;
    height: 55vw;

    background-size: 110%;
}
.modern-yt-embed1-1{
    width: 50vw;
    max-width: 100%;
    height: 50vw;
}
}