*{
  font-family: monospace;
  color: white;
  text-align: center;

  transition: .4s ease;
}

body{
  background: url(/graphics/redirect/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a{
  color: rgb(161, 255, 255);
}
a:hover{
  opacity: .5;
}

.box{
  border: 1px solid;
  padding: 3rem;
  border-radius: 10px;


  background-color: rgba(0, 0, 0, 0.548);
  backdrop-filter: blur(10px);
  box-shadow: 10px 5px 50px rgb(0, 0, 0);
}