*{
    font-family: 'Times New Roman', Times, serif;
    transition: .5s ease;
}

:root{
    --fontcolor: white;

    --common-font-size: 1.5rem;
    --h2-font-size:2rem;
    --h1-font-size:2.5rem;

    --linebreak: rgba(255, 255, 255, 0.096);

    --button-color: rgba(152, 152, 152, 0.357);
    --button-padding: 5px;
    --button-rounding: 4px;
}

.a4{
    background: rgba(0, 0, 0, 0.405);
    background-repeat: no-repeat;

    width: 300mm;
    height: auto;
    padding: 2rem;
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;

    display: flex;
    justify-content: center;

    color: var(--fontcolor);
}

.poem-section{
    margin-left: -20px;
}
.poem-heading{
    font-size: 3rem;
    margin-left: 60px;

    margin-bottom: 80px;
}

.poem-lines{
    font-size: 1.3rem;
    margin-left: 60px;
 
    white-space: pre-wrap;
    word-break: break-word;
    overflow: break-word;
}

/* footer */
.credit{
    font-size: 1.2rem;
    opacity: .75;

    /* margin-left: 0; */
}

/* imagecred */
.image-credit{
    text-decoration: none;
    color: var(--fontcolor);
    opacity: .5;
}
.image-credit:hover{
    opacity: .3;
}


/* NAVIGATION */
.navigation{
    margin-top: 80px;
    margin-bottom: 30px;
}
.navigation ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navigation a{
    text-decoration: none;
    color: var(--fontcolor);
    font-size: 1.2rem;

    border: 1px solid;
    border-color: var(--button-color);
    padding: 7px;
    border-radius: 4px;

    opacity: .5;
}
.navigation a:hover{
    opacity: .2;
}

/* Responsive Design:

* 480px is for smaller phones.
* 600px covers most smartphones.
* 768px includes larger phones and small tablets.*/

@media(max-width: 600px){

.a4{
    width: 100%;
    padding: 1.5rem;
}
.poem-section{
    margin-left: -4rem;
}

.navigation{
    margin-left: -4px;
}
}