
body{
    background: url(/graphics/Writing/sight.webp);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
}
.a4{
    min-height: auto !important;

    background: rgba(5, 5, 5, 0.393);
    /* background: rgba(5, 5, 5, 0.555); */
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.785);
}

/* MAINPAGE */

.mainpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1vw;
}

/* new order */

.group-tables{
    display: flex;
    gap: 1vw;
}

.single-table{
    background-color: rgba(41, 41, 41, 0.192);
    width: 30vw;
    border-radius: 5px;
    padding: 1rem;

    max-height: 70vh;
    overflow: scroll;
}

/* fonts */
.title-year{
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: bold;
}
.title-month{
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: bold;
    /* text-indent: 1vw; */
}
.title-date{
    text-indent: 1vw;
}

/* entry */

.entry{
    display: flex;
    justify-content: space-between;
    padding: 2px;
    
    border: 1px solid rgba(255, 255, 255, 0.041);
    border-radius: 5px;
}
.entry:hover{
    border: 1px solid rgba(255, 255, 255, 0.356);
    transition: .2s ease-in-out;
}

.poem-link{
    text-align: right;
    text-decoration: none;

    word-break: break-word;
    overflow: break-word;
}
.poem-link:hover{
    opacity: .5;
}

.poem-link, .title-date{
    font-size: 1.2rem;
}

/* new order */


/* RESPONSIVE */

@media (max-width:1800px){

.group-tables{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.single-table{
    width: 90vw;
}

.entry{
    margin: 10px 10px;
} 
.poem-link{
    font-size: 1.3rem;
}
}

@media (max-width:800px){

.single-table{
    width: calc(95vw - 5rem);    
}

.entry{
    flex-direction: column;
    padding: 0;
    margin: 10px 15px;
}
.title-date{
    text-indent: 0px;
    opacity: .75;
}
.title-month{
    margin: 15px 0px;
}
.poem-link{
    text-align: left;
    font-size: 1.3rem;
}
}

