*{
    font-family: monospace;
}

:root{
    --fontcolor: white;

    --common-font-size: 1.5rem;
    --h2-font-size:2rem;
    --h1-font-size:2.5rem;

    --linebreak: rgba(255, 255, 255, 0.096);

    --button-color: rgba(152, 152, 152, 0.357);
    --button-padding: 5px;
    --button-rounding: 4px;
}

.a4{
    background: rgba(0, 0, 0, 0.419);
    background-repeat: no-repeat;
    backdrop-filter: blur(7px);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.622);

    width: 300mm;
    height: 300mm;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;

    transition: .5s ease;
}

.break{
    border: solid 1px;
    border-color: var(--linebreak);
    margin: 40px
}

body {
    background: url(/graphics/Writing/neobanner.webp) ;
    /* background-color: gray; */
    background-size: cover;
    background-repeat: no-repeat;

    font-family: monospace;
    color: var(--fontcolor);

    margin: 0;
    display:flex;
    justify-content: center;
}

/* header */
header{
    margin-bottom: 0;
    margin-left: 2rem;
}

/* heading */
.bys{
    font-size: 4rem;
    animation: bys 5s infinite;
}

@keyframes bys{
    0% {color: white}
    50% {color: white; opacity: .4}
    100% {color: white}
}

/* main navigation */
.main-navigation{
    list-style: none;
    margin-left: -35px;
    margin-bottom: 0;

    display: flex;
    gap: 1rem;
}
.main-navigation li{
    border: 1px solid;
    border-color: var(--button-color);
    padding: var(--button-padding);
    border-radius: var(--button-rounding);
}
.main-navigation a{
    text-decoration: none;

    color: var(--fontcolor);  
    font-size: var(--common-font-size);

    transition: .5s ease;
}
.main-navigation a:hover, .main-navigation li:hover{
    opacity: .5;
}

.table{
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap:1px
}
.row{
    display: flex;
    align-items: baseline;
    background: rgba(68, 68, 68, 0.171);
    border-radius: 10px;
    width: 90%;
}
.year{
    flex: 0 0 10%;
    font-size: 3.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    
    padding: 30px;
}
.month{
    flex: 0 0 60px;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 2px;

    padding: 30px;
}


/* CLA */

.cla{
    display: flex;
    flex-direction: row;
    gap: 40px;

    padding:20px;
}
.date{
    display: flex;
    align-items:center;
    flex: 0 0 50px;

    font-size: 1.8rem;
    opacity: .75;
}
.poem{
    display: flex;
    align-items:center;


    font-size: 1.8rem;
    flex: 1;
}
.poem-link{
    text-decoration: none;
    color: var(--fontcolor);
    transition: .4s ease;
}
.poem-link:hover{
    opacity: .5;
}

/* RESPONSIVE DESIGN */

@media(max-width: 600px){

.a4{
    height: 300mm;
}

/* table responsiveness */
.row{
    width: 100%;
}
.year{
    font-size: 2.5rem;
    padding: 20px;
}
.month{
    font-size: 1.8rem;
    flex: 0 0 auto;

    padding: 20px;
}
.date{
    font-size: 1.6rem;
    flex: 0 0 auto;
}

.poem{
    font-size: 1.5rem;
}
}