body{
    /* background: url(/graphics/Site/cover.webp); */
    background: url(/graphics/Site/neo\ cover.jpg);
    background-size: cover;
    
    display: flex;
    justify-content: center;
}

.a4{
    background: rgba(5, 5, 5, 0.393);
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.785);
}

/* MAINPAGE */

.stream-album{
    /* overflow: scroll; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;

    padding-top: 1.5rem;
    
}
.latest-release{
    display: flex;
    flex-direction: column;    
}
.album-title{
    animation: album-title 7s infinite;
}
@keyframes album-title{
    0% {color: white;     
        text-shadow: 8px 5px 12px rgba(255, 255, 255, 0.619) ;}
    50% {color: white; 
        /* opacity:; */
        text-shadow: 10px 7px 9px rgba(255, 255, 255, 0.203) ;}
    100% {color: white;
        text-shadow: 8px 5px 12px rgba(255, 255, 255, 0.619) ;}
}

/* bandcamp and youtube */
.bandcamp-embed, .youtube{
    opacity: .8;
    filter: saturate(0);
}
.youtube{
    display: flex;
    justify-content: center;
}
.youtube-embed{
    border-radius: 10px;
}
.youtube iframe{
    width: 1080px;
    height: 600px;

}
.bandcamp-embed:hover, .youtube:hover{
    opacity: 1;
    filter: saturate(.5);
}
.bandcamp-embed{
    border: 0; 
    border-radius: 10px; 
    width:500px; 
    height: 600px;
}


/* current array */

.current-array{
    padding-top: 20px;

    display: flex;
    justify-content: center;

    overflow: scroll;
    gap: 10px;
}

/* youtube-sec */

.youtube-sec{

    width: 500px;
    height: 500px;
    border-radius: 10px;

    filter: saturate(0);
}
.youtube-sec:hover{
    filter: saturate(1);
}

/* MY SOCIALS */
.fin-me{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 1rem;

}
.fin-link{

    max-width: max-content;
    text-decoration: none;

}
.button-soc{
    height: 4rem;
}
.button-soc:hover{
    filter: saturate(30);
}
.fin-me{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* lin-card */
.lin-endcard{
    display: flex;
    justify-content: space-between;
}

/* footer */
.card{
    display: flex;
    flex-direction: column;
}
.card-content, .indic{
    font-size: 1rem;
    text-decoration: none;
}
.card-content:hover{
    opacity: .5;
}
.indic{
    opacity: .75;
    margin-bottom: 20px;
}


/* RESPONSIVE
* 480px is for smaller phones.
* 600px covers most smartphones.
* 768px includes larger phones and small tablets.*/


@media (max-width: 600px){

.site-heading{
    font-size: 2.7rem ;
}

.fin-me{
    justify-content: center;

    padding-bottom: 20px;
}
.button-soc{
    height: 2rem;
}

/* MAINPAGE */
.stream-album{
    justify-content: center;
    gap: 10px;
}

.chatter{
    width: 6770px;
}
}

