body{
    background: url(/graphics/Site/neo\ header\ crop\ 1.webp);
    background-size: cover;
    
    display: flex;
    justify-content: center;
}

.a4{
    background: rgba(78, 78, 78, 0.555);
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.785);
}

/* MAINPAGE */

.stream-album{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 1.5rem;
}
.latest-release{
    display: flex;
    flex-direction: column;    
}
.album-title{
    animation: album-title 7s infinite;
}
@keyframes album-title{
    0% {color: white;     
        text-shadow: 8px 5px 12px rgba(255, 255, 255, 0.619) ;}
    50% {color: white; 
        /* opacity:; */
        text-shadow: 10px 7px 9px rgba(255, 255, 255, 0.203) ;}
    100% {color: white;
        text-shadow: 8px 5px 12px rgba(255, 255, 255, 0.619) ;}
}

/* bandcamp and youtube */
.bandcamp-embed, .youtube{
    opacity: .8;
    filter: saturate(0);
}
.youtube{
    display: flex;
    justify-content: center;
}
.youtube-embed{
    border-radius: 10px;
}
.youtube iframe{
    width: 700px;
}
.bandcamp-embed:hover, .youtube:hover{
    opacity: 1;
    filter: saturate(.5);
}
.bandcamp-embed{
    border: 0; 
    border-radius: 10px; 
    width:max-content; 
    height: 600px;
}

/* youtube-sec */
.youtube-sec-div{
    display: flex;
    /* flex-wrap:  */
}
.youtube-sec{

    width: 500px;
    height: 500px;
    border-radius: 10px;

    filter: saturate(0);
}
.youtube-sec:hover{
    filter: saturate(1);
}

.chatter{
    width: 500px;
}
.chatter-txt{
    white-space: pre-wrap;
    word-break: break-word;
    overflow: break-word;
}

/* MY SOCIALS */
.fin-me{
    display: flex;
    padding-top: 1rem;

    /* justify-content: ; */
}
.fin-link{
    max-width: max-content;
    text-decoration: none;

    border: 1px solid;
    border-color: rgba(189, 189, 189, 0.39);
    border-radius: 3rem;

    padding: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
}
.button-soc{
    height: 3rem;
}
.button-soc:hover{
    filter: saturate(30);
}
.fin-me{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


/* footer */
.card{
    display: flex;
    flex-direction: column;
}
.card-content, .indic{
    font-size: 1rem;
    text-decoration: none;
}
.card-content:hover{
    opacity: .5;
}
.indic{
    opacity: .75;
    margin-bottom: 20px;
}


/* RESPONSIVE
* 480px is for smaller phones.
* 600px covers most smartphones.
* 768px includes larger phones and small tablets.*/

@media (max-width: 600px){

.site-heading{
    font-size: 2.7rem ;
}

.fin-me{
    justify-content: center;

    padding-bottom: 20px;
}
.button-soc{
    height: 2rem;
}

/* MAINPAGE */
.stream-album{
    justify-content: center;
    gap: 10px;
}
}