body{
    background: url(/graphics/photobook/cover.webp);
    background-size: cover;
    
    display: flex;
    justify-content: center;
}

.a4{
    width: 300mm !important;
    background: rgba(12, 12, 12, 0.555);
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.785);
}

/* MAINPAGE */

.mainpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.entry, .entry:hover{
    width: 49%;
    height: 600px;
    object-fit: cover;

    margin-bottom: 5px;

}
.entry5n4, .entry5n4:hover{
    /* width: ; */
    height: 467px;
    object-fit: cover;

    margin-bottom: 5px;
}

.entry1n1, .entry1n1:hover{
    /* width: ; */
    height: 467px;
    object-fit: cover;

    margin-bottom: 5px;

}
.entry-landscape, .entry-landscape:hover{
    width: 99%;
    height: 500px;
    object-fit: cover;
}
.entry-landscape1n2, .entry-landscape1n2:hover{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.entry, .entry-landscape, .entry5n4, .entry1n1, .entry-landscape1n2{
    border-radius: 4px;
    box-shadow: 10px 50px 100px rgba(31, 31, 31, 0.507) ;
}

.entry:hover, .entry-landscape:hover{
    opacity: 1;
}

/* image comments */
.date-inline{
    display: flex;
    justify-content: center;
    align-items: baseline;
    
    gap: 20px;
}

.desc{
    display: flex;
    justify-content: center;

    font-weight: bold;
    font-size: 2rem;

    margin-bottom: 30px;
}
.date-it{
    opacity: .5;
}
.entry-description{
    margin: auto;
    
    padding-top: 20px;
    width: 90%;
}
.actual-description{
    font-size: 1.1rem;
    text-align: center;
}
/* phone alert */
.phone-alert{
    pointer-events: none;
    cursor: default;
    user-select: none;
    
    display: flex;
    justify-content: center;
    height: 0 ;
    
    opacity: 0;
}
.phone-alert-text{
    font-size: 5rem;
    font-weight: bolder;
}


/* RESPONSIVE */

@media (max-width:600px){

/* mainpage */
.mainpage{
    opacity: 0
}

.phone-alert{
    opacity: 1
}
}

    /* HORIZONTAL RESPONSIVE */

@media (max-width:1000px){

/* mainpage */
.mainpage{
    justify-content: space-between;
}

.entry, .entry:hover{
    width: 49%;
    height: 500px;
    justify-content: space-between;
    object-fit: cover;

    margin-bottom: 5px;

}
.entry-landscape, .entry-landscape:hover{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.entry, .entry-landscape{
    border-radius: 4px;
}

.entry5n4, .entry5n4:hover{
    width: 59%;
    /* height: ; */
    object-fit: cover;

    margin-bottom: 5px;

}
.entry1n1, .entry1n1:hover{
    width: 39%;
    /* height: ; */
    object-fit: cover;

    margin-bottom: 5px;

}
.entry-landscape1n2, .entry-landscape1n2:hover{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* image comments */
.desc{
    font-size: 1.6rem;
}

}

/* another one */

@media (max-width:1500px){

/* mainpage */
.mainpage{
    justify-content: space-between;
}

.entry, .entry:hover{
    width: 49%;
    height: 500px;
    justify-content: space-between;
    object-fit: cover;

    margin-bottom: 5px;

}
.entry-landscape, .entry-landscape:hover{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.entry, .entry-landscape{
    border-radius: 4px;
}

.entry5n4, .entry5n4:hover{
    width: 59%;
    /* height: ; */
    object-fit: cover;

    margin-bottom: 5px;

}
.entry1n1, .entry1n1:hover{
    width: 39%;
    /* height: ; */
    object-fit: cover;

    margin-bottom: 5px;

}
.entry-landscape1n2, .entry-landscape1n2:hover{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* image comments */
.desc{
    font-size: 1.6rem;
}

}