*{
    font-family: monospace;
}

:root{
    --fontcolor: white;

    --common-font-size: 1.5rem;
    --h2-font-size:2rem;
    --h1-font-size:2.5rem;

    --linebreak: rgba(255, 255, 255, 0.096);

    --button-color: rgba(152, 152, 152, 0.357);
    --button-padding: 5px;
    --button-rounding: 4px;
}

body{
    background: url(/graphics/photobook/banner.jpg);
    background-position: top ;
    color: var(--fontcolor);

    margin: 0;
    display:flex;
    justify-content: center;
}

.a4{
    background: rgba(0, 0, 0, 0.619);
    background-repeat: no-repeat;
    backdrop-filter: blur(7px);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.622);

    width: 300mm;
    height: 400mm;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;

    transition: .5s ease;
}

.break{
    border: solid 1px;
    border-color: var(--linebreak);
    margin: 40px
}

/* header */
header{
    margin-bottom: 0;
    margin-left: 2rem;
}

/* heading */
.bys{
    font-size: 4rem;
    animation: bys 5s infinite;
}

@keyframes bys{
    0% {color: white}
    50% {color: white; opacity: .4}
    100% {color: white}
}

/* main navigation */
.main-navigation{
    list-style: none;
    margin-left: -35px;
    margin-bottom: 0;

    display: flex;
    gap: 1rem;
}
.main-navigation li{
    border: 1px solid;
    border-color: var(--button-color);
    padding: var(--button-padding);
    border-radius: var(--button-rounding);
}
.main-navigation a{
    text-decoration: none;

    color: var(--fontcolor);  
    font-size: var(--common-font-size);

    transition: .5s ease;
}
.main-navigation a:hover, .main-navigation li:hover{
    opacity: .5;
}
.current-page{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.445) !important; 
}
.youtubelink:hover{
    transition: .5s ease;
    background-color: rgba(217, 83, 94, 0.539);
}

/* gallery start */

.mainpage{
    display: flex;
    justify-content: center;

}
.entry{
    display:inline;
    padding: auto;

    width:200px;
    height: 200px;
    object-fit: cover;

    border-radius: 6px;
    transition: .3s ease;
}
.entry-landscape{
    margin: auto;
    padding: 5px;

    width:400px;
    height: 200px;
    object-fit: cover;

    border-radius: 6px;
    transition: .5s ease;
}
.entry:hover{
    height: auto;
    width: 400px;
}
.entry-landscape:hover{
    height: 400px;
    width: auto;
}
.desc{
    font-size: 1.4rem;
}
.date-journal{
    font-size: 1.2rem;
    opacity: .5;
}

/* Responsive Design:
* 480px is for smaller phones.
* 600px covers most smartphones.
* 768px includes larger phones and small tablets.*/

@media(max-width: 600px){

    body{
    /* background-position: ; */
    margin-left: -20px;
    }
    .a4{
    width: 300nm;
    height: 300mm;
    padding: 0rem;
    box-sizing: border-box;
    overflow: hidden;

    transition: .5s ease;
    }
    /* navigation */
     .main-navigation{
        flex-wrap: wrap;
     }
    .main-navigation a{
        font-size: 1.2rem;
    }

    /* mainpage */
    .entry{
        padding: 2px;

        width:150px;
        height: 150px;
        object-fit: cover;

        border-radius: 10px;
        transition: .3s ease;
    }
    .entry-landscape{
        margin: auto;
        padding: 5px;

        width:auto;
        height: 150px;
        object-fit: cover;

        border-radius: 10px;
        transition: .5s ease;
    }
    .desc{
        font-size: 1.4rem;
    }


}