*{
    font-family: monospace;
    font-size: 1.3rem;
    color: white;


    transition: .4s ease;

    margin: 0;

    .break{
        border: 1px solid;
        margin: auto;

        margin-top: 20px ;
        margin-bottom: 20px;

        opacity: .2;
    }

    h3{ font-size: 1.4rem;}
    h2{ font-size: 1.8rem;}


}

body{
    background: url(/graphics/photobook/banner.jpeg);
    background-size: cover;
    
    display: flex;
    justify-content: center;
}

.a4{
    width: 300mm;
    height: 300mm;
    box-sizing: border-box; /*fixes the L&B*/

    padding: 2rem;

    overflow: hidden;

    background: rgba(78, 78, 78, 0.555);
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.785);
    border-radius: 12px;
}

/* site heading */
.site-heading{
    font-size: 3rem;
    animation: site-heading 10s infinite;

    margin-bottom: 10px;
}
@keyframes site-heading{
    0% {color: white;     
        text-shadow: 8px 5px 12px rgba(255, 255, 255, 0.978) ;}
    50% {color: white; 
        /* opacity:; */
        text-shadow: 10px 7px 9px rgba(255, 255, 255, 0.203) ;}
    100% {color: white;
        text-shadow: 8px 5px 12px rgba(255, 255, 255, 0.978) ;}
}

/* navigation */
.main-navigation{
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    padding-top: 15px;
    padding-bottom: 15px;

    gap: 5px;
}
.main-navigation a{
    font-size: 1rem;
    text-decoration: none;

    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.52);
    border-radius: 4px;

    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
.main-navigation-link{
    gap: 200px;
}
.main-navigation a:hover{
    transition: .2s ease;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.235);
}

/* MAINPAGE */

.mainpage{
    display: flex;
    justify-content: center;
}

.non-single-entry{
    margin: auto;
}
.entry{
    width: 200px;
    height: 200px;
    object-fit: cover;

    margin-bottom: 5px;

}
.entry-landscape{
    width: 415px;
    height: 250px;
    object-fit: cover;
}
.entry, .entry-landscape{
    border-radius: 4px;
}
.entry:hover{
    width: 350px;
    height: auto;
}
.entry-landscape:hover{
    height: 390px;
    width: auto;
}

/* image comments */
.desc, .date-journal{
    font-size: 1.1rem;
    opacity: .75;
}

/* RESPONSIVE */

@media (max-width:600px){
*{
    font-size: 1.1rem ;


    h3{ font-size: 1.4rem;}
    h2{ font-size: 1.7rem;}

    .break{
        margin-top: 1px ;
        margin-bottom: 10px;
    }
}
.a4{
    height: auto;
    border-radius: 0px;
    padding: 10px;
}

/* navigation */
.main-navigation{
    gap:10px;
}

.non-single-entry{
    margin: ;
}

.entry-landscape, .entry-landscape:hover{
    width: 415px;
    height: 250px;
    object-fit: cover;
}
.entry, .entry:hover{
    width: 200px;
    height: 200px;
    object-fit: cover;

    margin-bottom: 5px;

}
}