*{
    font-family: monospace;

    .break{
    border: solid 1px;
    border-color: var(--linebreak);
    margin: 40px
    }

    .links{
        text-decoration: none;
        color: var(--link-color);
        transition: .3s ease;
    }
    .walk-navigation{
        text-decoration: none;
        color: var(--link-color);
        font-size: 1.7rem;

        transition: 0.3s ease;
    }
    .links:hover, .walk-navigation:hover{
        opacity: .5;
    }

}

:root{
    --fontcolor: white;
    --link-color:rgb(136, 136, 136);

    --common-font-size: 1.5rem;
    --h2-font-size:2rem;
    --h1-font-size:2.5rem;

    --linebreak: rgba(255, 255, 255, 0.096);

    --button-color: rgba(152, 152, 152, 0.357);
    --button-padding: 5px;
    --button-rounding: 4px;
}

body{
    background: url(/graphics/Site/neo\ header\ crop\ 1.webp);
    background-position: bottom;
    color: var(--fontcolor);

    margin: 0;
    display:flex;
    justify-content: center;

    font-size: 1.4rem;
}

.a4{
    background: rgba(0, 0, 0, 0.568);
    background-repeat: no-repeat;
    backdrop-filter: blur(7px);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.622);

    width: 300mm;
    height: 300mm;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;

    transition: .5s ease;
}

/* header */
header{
    margin-bottom: 0;
    margin-left: 2rem;
}

/* heading */
.bys{
    font-size: 4rem;
    animation: bys 5s infinite;
}

@keyframes bys{
    0% {color: white}
    50% {color: white; opacity: .4}
    100% {color: white}
}

/* main navigation */
.main-navigation{
    list-style: none;
    margin-left: -35px;
    margin-bottom: 0;

    display: flex;
    gap: 1rem;
}
.main-navigation li{
    border: 1px solid;
    border-color: var(--button-color);
    padding: var(--button-padding);
    border-radius: var(--button-rounding);
}
.main-navigation a{
    text-decoration: none;

    color: var(--fontcolor);  
    font-size: var(--common-font-size);

    transition: .5s ease;
}
.main-navigation a:hover, .main-navigation li:hover{
    opacity: .5;
}
.current-page{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.445) !important; 
}
.youtubelink:hover{
    transition: .5s ease;
    background-color: rgba(217, 83, 94, 0.539);
}

/* MAINPAGE */

.mainpage{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.qq{
    font-size: 2rem;
    opacity: .75;
    font-weight: bold;
}
.aa{
    max-width: 800px;
    margin-left: 12px;
    margin-right: 20px;

    /* white-space: ; */
    word-break: break-word;
    overflow: break-word;
}

/* qq navigation */
.navigation-list li{
    padding-bottom: 1rem;
}
.navigation-list{
    margin-left: -25px;
    margin-right: 20px;

    word-break: break-word;

    max-width: 800px;
}

/* footer-ish */
.updated{
    opacity: .5;
    margin-left: 30px;
}



/* Responsive */

@media (max-width: 600px){

    body{
    margin-left: -20px;
    }
    .a4{
    width: 300nm;
    height: auto;
    padding: 0rem;
    box-sizing: border-box;
    overflow: hidden;

    transition: .5s ease;
    }
    .main-navigation{
        flex-wrap: wrap;
    }
    .main-navigation a{
        font-size: 1.2rem;
    }

}