body{
    background: url(/graphics/Site/neo\ header\ crop\ 1.webp);
    background-position: bottom;
    background-size: cover;
    
    display: flex;
    justify-content: center;
}

.a4{
    width: 300mm;
    height: 300mm;
    box-sizing: border-box; /*fixes the L&B*/


    background: rgba(78, 78, 78, 0.635);
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.785);

}

/* MAINPAGE */

.qq{
    font-size: 1.8rem;
    font-weight: bold;
    opacity: .75;

    margin-bottom: 20px;
}
.aa{
    margin-bottom: 20px;
    margin-left: 20px;
}

/* ending navigation */

.navigation-list{
    display: flex;
    flex-direction: column;
}
.list-entries{
    font-size: 1.1rem;
    margin-bottom: 10px;

    margin-left: 20px;
}
.walk-navigation, .links{
    font-size: 1.4rem;
    text-decoration: none;
    opacity: .7;
}
.walk-navigation{
    font-weight: bold;
}

.walk-navigation:hover, .links:hover{
    opacity: .3;
}

.update{
    font-size: 1rem;
    opacity: .75;
    margin-bottom: 20px;
}

/* RESPONSIVE */

@media (max-width:600px){


/* mainpage */
.aa{
    margin-bottom: 20px;
    margin-left: 10px;
}

}
