body{
    background: url(/graphics/Site/cover.webp);
    background-size: cover;
    
    display: flex;
    justify-content: center;
}

.a4{
    background: rgba(5, 5, 5, 0.393);
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.785);
}

/* MAINPAGE */

.line{
    padding-top: 2rem;
}

.link{
    /* border: 1px solid; */
    display: flex;
    padding-top: 1rem;
    text-decoration: none;

    opacity: .75;
}
.link:hover{
    opacity: 1;
}


/* RESPONSIVE
* 480px is for smaller phones.
* 600px covers most smartphones.
* 768px includes larger phones and small tablets.*/

@media (max-width: 600px){

.site-heading{
    font-size: 2.7rem ;
}

/* MAINPAGE */
}