body{
    background-image: url(/graphics/Releases/cover.webp);
    background-size: cover;

    display: flex;
    justify-content: center;
}

.a4{
    background: rgba(23, 23, 23, 0.555);
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.785);
}

h2{
    margin-bottom: 20px;
}
/* MAINPAGE */

.mainpage{
    display: flex;
    gap: 2rem;
}
.title-n-citation{
    display: flex;
    align-items: baseline;
    
    max-width: 500px;
    height: 100px;

}
.album-citation {
    font-size: 1rem;
    font-style: italic;
    opacity: .75;
    margin-left: 10px;
}

.album-mention{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 20px;
}
.yt-embed{
    width: 400px;
    height:400px;
    filter: saturate(0);
    border-radius: 10px;
}
.yt-embed:hover{
    filter: saturate(.75);
}

/* RESPONSIVE */

@media (max-width:600px){
    .album-citation{
        margin-left: 0;
    }

    .album-mention{
        display: flex;
        flex-direction: column;
    }
    .yt-embed{
        max-width: 100%;
        max-height: 400px;
    }

    .al-comments{
        margin-left: 0;
        margin-top: 20px;
    }
}
